<h1>What do you want to comment?</h1>
<%= form_with model: @comment, url: user_post_comments_path(@user.id), method: :post, local: true, scope: :comment do |f| %>
  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <%= f.hidden_field :post_id, value: @post_id %>
  <%= f.submit "Comment" %>
<% end %>