<%= render "shared/profile", user: @user %>
<ul class="posts-container">
  <% @posts.each do |post| %>
    <%= render "shared/post", post: post, user: @user %>
    <% unless post.comments.empty? %>
      <%= render "shared/comments", comments: post.recent_comments %>
    <% end %>
  <% end %>
  <div class="navigation-container">
    <%= link_to "Pagination", user_path(@user), class: "button" %>
    <%= link_to 'New Post', new_user_post_path(@user), class: "button" %>
  </div>
</ul>