<article class="post-article">
  <div class="post-header">
    <h3>Post <%= @post.title %> by <%= @post.author.name %></h3>
    <p class="comment-like">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  </div>

  <p class="post-text">
<%= @post.text %>
  </p>
</article>
<div class="full-post margin-sides">
  <% unless @post.comments.empty? %>
    <%= render "shared/comments", comments: @post.comments %>
  <% end %>
  <%= link_to "Back to all posts", user_posts_path(@user), class: "button flex-start" %>
</div>